.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding : 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.lead{
    font-size: 26px;
}

#delete-form{
    display: inline;
}

.delete-form{
    display: inline;
}

.checked {
    color: orange;
}